
<!-- <header class="header">
    <span><a routerLink="/"><img class="logo" src="../../assets/img/logomarca.png" alt="TSITELECOM-Logo"/></a></span>
</header> -->
<!-- <router-outlet></router-outlet> -->
<body>
            <div class="container">
                <div class="forms">
                    <div class="form login">
                        <span class="title">Login</span>
                        <form (ngSubmit)="submitForm()" [formGroup]="form" autocomplete="off">
                            <div class="input-field">
                                <input formControlName="login" placeholder="Enter your email" required />
                                <fa-icon class="i" [icon]="MyfaEnvelope" size="sm"/>
                            </div>
                            <div class="input-field">
                                <input
                                value=""
                                type="password"
                                class="password"
                                placeholder="Enter your password"
                                formControlName="password"
                                />
                                <fa-icon class="i" [icon]="MyfaUnlockKeyhole" size="sm"/>
                            </div>
                            
                            <div class="checkbox-text">
            <div class="checkbox-content">
                <input type="checkbox" id="logCheck" />
                <label for="logCheck" class="text"> Remember me </label>
            </div>
            
            <a href="#" class="text"> Forgot password? </a>
        </div>
        
        <div class="input-field button">
            <input type="submit" value="Login" />
        </div>
    </form>
    
    <div class="login-signup">
        <nav class="text">
            Not a member?
            <a routerLink="/register" class="text signup-link"> Signup Now </a>
        </nav>
    </div>
</div>
</div>
</div>
</body>


