<div class="chat-container">
  <div class="chat-messages">
    <div class="message-container">
      <div class="message">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos,
        consequatur ipsam? Similique, nemo dolor, veritatis eum sed rem sunt
        vero adipisci quae alias eligendi dolore tenetur, voluptatibus optio
        neque. Assumenda. Lorem ipsum dolor sit amet consectetur, adipisicing
        elit. Quos, consequatur ipsam? Similique, nemo dolor, veritatis eum sed
        rem sunt vero adipisci quae alias eligendi dolore tenetur, voluptatibus
        optio neque. Assumenda.
      </div>
      <div class="time">21:45</div>
    </div>
  </div>
  <div></div>
  <div class="chat-input">
    <input type="text" placeholder="Digite sua mensagem aqui..." />
    <button>Enviar</button>
  </div>
</div>
